  * {
    border-style: solid;
    border-color: red;
    }


.body {
    color: white;
    background-image: url(Untitled.png);
    background-size: 1500px;
    background-color: white;
    background-repeat: no-repeat;
    
    
}

.navbar {
    height: 35px;
    border-width: 4px;
   
}
.main {
    padding-left: 50px;
}
.ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
a {
    display: block;
    padding: 8px;
}

.logo {
    width: 200px;
    height: auto;
    padding-left: 50px;
}

li {
    float: left;
}
.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 20px;
    margin-top: 10px;
    
    
   
    
    
}

.banner {
    text-align: center;
    height: 60px;
    
}

main {
    
    
}

footer {
    float: bottom;
    height: 50px;
}

.raclame {
    margin-left: 20px ;
    padding-bottom: 10px;
}

.img {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    grid-gap: 5px;
}

.textfield {
    width: 650px;
}

.rclm {
    padding: 5px;
    text-align: center;
}