/*  * {
    border-style: solid;
    border-color: red;
    }
*/

body {
    color: white;
    background-color: rgb(68, 68, 68);
}

.navbar {
    background-color: grey;
    height: 35px;
    border-style: solid;
    border-color: rgb(118, 89, 124);
    border-width: 4px;
}

ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
    display: block;
    padding: 8px;
    background-color: rgb(149, 149, 149);
}

li {
    float: left;
}
.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 20px;
    margin-top: 10px;
    
    
   
    
    
}

.banner {
    text-align: center;
    background-color: rgb(106, 106, 106);
    height: 60px;
    border-style: solid;
    border-color: rgb(118, 89, 124);
    border-width: 4px;
}

main {
    background-color: rgb(69, 69, 69);
    border-style: solid;
    border-color: rgb(118, 89, 124);
    border-width: 4px;
}

footer {
    float: bottom;
    background-color: rgb(106, 106, 106);
    height: 50px;
    border-style: solid;
    border-color: rgb(118, 89, 124);
    border-width: 4px;
    
}
.raclame {
    background-color: rgb(106, 106, 106);
    margin-left: 20px ;
    padding-bottom: 10px;
    border-style: solid;
    border-color: rgb(118, 89, 124);
    border-width: 4px;
}

.img {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    grid-gap: 5px;
}

.p {
    padding: 5px;
}

.rclm {
    padding: 5px;
}